{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "class-methods-use-this": 0,
    "function-paren-newline": 0,
    "import/prefer-default-export": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "no-use-before-define": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/no-array-index-key": 0,
    "react/prefer-stateless-function": 0,
    "react/require-default-props": 0,
    "react/destructuring-assignment": 0,
    "react/no-access-state-in-setstate": 0,
    "object-curly-newline": 0
  }
}
